/** {
    border: 1px solid red;
}*/

body {
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
}

.logo {
    margin-top: 10rem;
    text-align: center;
}

.logo img {
    height: 6rem;
}

.form {
    text-align: center;
    margin-top: 2rem;
}

input {
    height: 2.5em;
    width: 50em;
    font-size: 14px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.50);
    border: 0;
}

input:focus {
    outline:none;
}

input:hover {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.50);
}

.nav {
    height: 40px;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    float: right;
    display: block;
    padding: 10px 10px;
    color: #404040;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.nav ul li img {
    height: 1.3rem;
    margin-top: -2px;
}

.nav ul li a.button {
    background-color: #417fed;
    color: white;
    border-radius: 2px;
    padding: 0.8rem 1.2rem;
    font-weight: bold;
}

.nav ul li a.button:hover {
    text-decoration: none;
}

.buttons {
    text-align: center;
    margin-top: 3rem;
}

.buttons a.button {
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 0rem 0.2rem;
    background-color: #f2f2f2;
    color: #757575;
    border-radius: 4px;
    font-weight: bold;
}

.buttons a.button:hover {
    border: 1px solid #e4e4e4;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.2rem;
  background-color: #f2f2f2;
  text-align: center;
  border-top: 1px solid #e4e4e4;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    color: #666666;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer ul li a.left {
    float: left;
}

.footer ul li a.right {
    float: right;
}
